body {
    padding-top: 80px;
    padding-bottom: 20px;
    background: #2b3237;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default *
input,
select,
textarea {
    max-width: 280px;
}*/

.field-validation-error {
    color: #d62c1a
}

.input-validation-error {
    color:#d62c1a;
    border-color: #d62c1a;
}


.main-site {
    margin: 0 auto;
}

.side {
    position: fixed;
    padding-top: 20px;
}

.side ul.social-icons {
    list-style: none;
    text-align: center;

}

.side .social-icons li {
    display: inline;
    padding: 10px;
}

.side .social-icons li a {
    font-size: 20px;
    text-decoration: none;
    color: #AAA;
    -ms-transition: color ease-in-out .3s;
    -o-transition: color ease-in-out .3s;
    -webkit-transition: color ease-in-out .3s;
    transition: color ease-in-out .3s;
}

.side .social-icons li a:hover {
    color: #FFF;
}


/* AskBox */
.askbox {
    background: #888;
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.askbox .head ul {
    list-style: none;
    padding: 0;
}
    .askbox .head ul li {
        display: inline;
        padding-right: 20px;
        font-size: 16px;

        
    }
    .askbox .head ul li a {
        font-weight: bold;
        color: #AAA;
        text-decoration: none;
        transition: color ease-in-out .1s
    }
    .askbox .head ul li a:hover {
        color: #FFF;
    }

.askbox .body {
    padding: 5px 0;
}
.askbox .foot {
    height: 50px;
}
.askbox .foot .options label {
    line-height: 50px;
}
.askbox .foot .submit button {
    width: 100%;
    right: 0;
    background: #FF643C;

}

/* AskBox */


/* Questions section */
.notifications-container,
.questions {
    background: #efefef;
    margin-top: 20px;
}

.questions .item {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
}
.questions .item .question .text{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.questions .item .question .sender {
    padding-bottom: 10px;
}
.questions .item .question .sender img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px
}

.questions .item .question .sender a {
    font-size: 13px;
    text-decoration: none;
    color: #AAA;
}

.questions .item .answer .reciever img{
    width: 40px;
    border-radius: 50%;
    margin-right: 5px
}

.questions .item .answer .reciever a {
    text-decoration: none;
    color: #AAA;
}

.questions .item .answer .text {
    padding: 10px;
    color: #000;
}
.questions .item .operations {
    padding: 10px 0;
}

.questions .item .operations .left-side {
    float: left;
}

.questions .item .operations .left-side .like {
    color: #AAA;
    font-size: 18px;
}

.questions .item .operations .left-side .like i {
    margin-right: 5px;
}

.questions .item .operations .right-side {
    float: right;
}
.questions .item .operations .right-side ul {
    list-style: none;
    padding: 0
}

.questions .item .operations .right-side ul li {
    display: inline;
    padding: 20px;
    font-size: 18px;
}

.questions .item .operations .right-side ul li a {
    color: #AAA;
}
/* Questions section */


li.notifications a {
    font-size: 20px;
    position: relative;
}
li.notifications a .badge {
    font-size: 12px;
    position: absolute;
    top: 14px;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 4px 0;
    color: white;
    background: #ff643c;
}

li.notifications a:hover .badge {
    color: #ff643c;
    background: white;
}

/* Notifications off navbar */

.notifications-container {
    background: #efefef;
    padding: 12px;

}

.notifications-container ul {
    padding: 0;
    list-style: none;
}

.notifications-container ul li a {
    text-decoration: none;
}



.notifications-container ul li a .message {
    display: block;
    color: #000;
}

.notifications-container ul li a .datetime {
    color: gray;
    font-size: 11px;
}

