@{
    ViewBag.Title = "Feed";
}

@Html.Partial("_askBox")

<section class="questions">
   
    <section class="item">
        <div class="question">
            <div class="text">
                السلام عليكم ازيك يا بشمهندس كنت حضرتك قولت هتكتب بوست عن احتراف الجافا سكريبت هتنزله امته ؟

            </div>
            <div class="sender">
                <img src="~/Images/514607.jpg" alt="sender name" /> <a href="#">Sender Name</a>
            </div>
        </div>
        <div class="answer">
            <div class="reciever">
                <img src="~/Images/514607.jpg" alt="reciever name" /> <a href="#">reciever Name</a>
            </div>
            <div class="text">
                عليكم السلام عملته مسار كامل في موقع الأكاديمية
            </div>
        </div>
        <div class="operations">
            <div class="left-side">
                <a href="#" class="like">
                    <i class="fa fa-heart"></i>
                    <span class="likes-number">5</span>
                </a>
            </div>
            <div class="right-side">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-share"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-retweet"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="item">
        <div class="question">
            <div class="text">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </div>
            <div class="sender">
                <img src="~/Images/514607.jpg" alt="sender name" /> <a href="#">Sender Name</a>
            </div>
        </div>
        <div class="answer">
            <div class="reciever">
                <img src="~/Images/514607.jpg" alt="reciever name" /> <a href="#">reciever Name</a>
            </div>
            <div class="text">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.
            </div>
        </div>
        <div class="operations">
            <div class="left-side">
                <a href="#" class="like">
                    <i class="fa fa-heart"></i>
                    <span class="likes-number">5</span>
                </a>
            </div>
            <div class="right-side">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-share"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-retweet"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="item">
        <div class="question">
            <div class="text">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </div>
            <div class="sender">
                <img src="~/Images/514607.jpg" alt="sender name" /> <a href="#">Sender Name</a>
            </div>
        </div>
        <div class="answer">
            <div class="reciever">
                <img src="~/Images/514607.jpg" alt="reciever name" /> <a href="#">reciever Name</a>
            </div>
            <div class="text">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.
            </div>
        </div>
        <div class="operations">
            <div class="left-side">
                <a href="#" class="like">
                    <i class="fa fa-heart"></i>
                    <span class="likes-number">5</span>
                </a>
            </div>
            <div class="right-side">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-share"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-retweet"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>